{% extends 'base.html' %}

{% block content %}
<div class="blockquote text-center uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="height: 840px; background-image: url('https://images.unsplash.com/photo-1591604157118-b94e2684f857?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');">
    <div class="uk-position-center uk-overlay uk-overlay-default">
        <h1 class="display-4">Hello, Welcome to Jam Digital Waktu Shalat Website!</h1>
        <p class="lead">Wujudkan impian Anda untuk memiliki jam penunjuk waktu shalat pribadi dengan berbagai fitur yang diberikan, agar shalat lebih tepat waktu.</p>
        <hr class="my-4">
        <p>Untuk melihat-lihat katalog yang kami berikan dapat cek langsung kakak :)</p>
        <a onclick="location.href='{% url 'katalog' %}'" class="btn btn-primary btn-lg" role="button">Buka Katalog</a> 
    </div>
  </div>
{% endblock content %}