{% extends 'base.html' %}

{% block content %}
<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="https://cf.shopee.co.id/file/1a30e2ae7c9e6fc6a9d05d6a5ee0b1a0" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Desain Jam 1</h3>
            <p>Untuk memilih desain seperti ini atau ingin menambah nama masjid dapat mengisi checkout jam.</p>
        </div>
    </div>
</div>

<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="https://cf.shopee.co.id/file/9bd163276f2a7f16c7b1b539a2f4308e" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">Desain Jam 2</h3>
            <p>Untuk memilih desain seperti ini atau ingin menambah nama masjid dapat mengisi checkout jam.</p>
        </div>
    </div>
</div>
{% endblock content %}