{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{% static 'style/style.css' %}" rel="stylesheet">
    <link href="{% static 'uikit/css/uikit.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="uk-position-center uk-overlay uk-overlay-default uk-grid-small uk-grid-match" uk-grid>
        <div class="uk-card uk-card-secondary uk-card-body " style="width: 450px; height: 430px;">
            <h3 class="uk-card-title" style="font-size: 30px;">Login</h3>
            <form method="POST">
              {% csrf_token %}
                <div class="mt-2 form-group">
                    <label for="exampleInputEmail1" class="text-white">Username</label>
                    <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Username">
                  </div>
                  <div class="form-group mt-2">
                    <label for="exampleInputPassword1" class="text-white">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" [type]="hide ? 'password' : 'text'" hide = true;>
                    <a class="float-right position-sticky" style="color: #000; margin-top: -40px;" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    </a>
                  </div>
                <div class="form-check mt-2">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1" class="text-white">Remember</label>
                    <a href="" class="float-right text-warning">Forgot Password</a>
                  </div>   
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-1" style="margin-left: 300px;">LOGIN</button>
                <a href="register" class="mt-5 h6 uk-flex uk-flex-middle uk-flex-center text-white">Create Account</a>
              </form>
        </div>
    </div>
</body>
</html>
