{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Register</title>
    <link href="{% static 'style/style.css' %}" rel="stylesheet">
    <link href="{% static 'uikit/css/uikit.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="uk-position-center uk-overlay uk-overlay-default uk-grid-small uk-grid-match" uk-grid>
        <div class="uk-card uk-card-secondary uk-card-body " style="width: 450px; height: 450px;">
            <h3 class="uk-card-title" style="font-size: 30px;">Register</h3>
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                  <label for="exampleInputEmail1">{{field.label_tag}}</label>
                  {{field}}
                  <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" autocomplete="off"> -->
                </div>
                {% endfor %}
                <div class="float-right">
                    <input type="submit" value="Register" class="btn btn-success btn-lg btn-block mt-3" style="margin-left: 290px;">
                    <p class="float-left mr-3 my-2">
                        Sudah Memiliki Akun?
                        <a href="/user/login" class="text-white">Sign In</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
