{% extends 'base.html' %}

{% block content %}
<div class="uk-child-width-1-2@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="https://cf.shopee.co.id/file/1a30e2ae7c9e6fc6a9d05d6a5ee0b1a0" alt="">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Desain Jam 1</h3>
                <p>Untuk memilih desain seperti ini atau ingin menambah nama masjid dapat mengisi checkout jam.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-body">
                <h3 class="uk-card-title">Desain Jam 2</h3>
                <p>Untuk memilih desain seperti ini atau ingin menambah nama masjid dapat mengisi checkout jam.</p>
            </div>
            <div class="uk-card-media-bottom">
                <img src="https://cf.shopee.co.id/file/9bd163276f2a7f16c7b1b539a2f4308e" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock content %}