{% load static %}
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a onclick="location.href='{% url 'home' %}'">Jam Digital Waktu Shalat</a></li>
            <li>
                <a href="#">Menu</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-nav-header">Pilih</li>
                        <li class="uk-nav-divider"></li>
                        <li><a onclick="location.href='{% url 'katalog' %}'">Katalog</a></li>
                        <li><a href="#">Pemesanan</a></li>
                        <li><a href="#">Pembayaran</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">
            <li>
                {% if user.is_authenticated %}
                <a onclick="location.href='{% url 'signout' %}'">
                    <span uk-icon="sign-out" class="uk-margin-right" title="SignOut"></span>
                </a>
                {% else %}
                    <a onclick="location.href='{% url 'signin' %}'">
                        <span uk-icon="sign-in" class="uk-margin-right" title="SignIn"></span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
